$near-black: #020203;
$dark-grey: #282d30;
$dark-grey2: #20253a;
$grey: #74798c;
$red: #ff0101;
$red-bar: #e60000;
$red-sessions: #ff0000;
$light-grey: #fbfbfb;
$box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$box-shadow-containers: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
