main {
  margin: 68px 0 0 110px;

  .user-infos {
    h1 {
      margin: 0;
      font-size: 3em;
      font-weight: 500;
      color: black;

      .first-name {
        color: $red;
      }
    }

    p {
      margin-top: 41px;
      font-size: 1.125em;
      font-weight: 400;
    }
  }

  .container-data {
    display: flex;
    column-gap: 31px;

    .charts-container {
      display: flex;
      flex-direction: column;
      row-gap: 30px;

      .charts-blocks {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
