.chart {
    border-radius: 5px;
    box-shadow: $box-shadow-containers;
    width: 258px;
    height: 263px;
}

.activity-chart {
    background-color: $light-grey;
    width: 835px;
    height: 320px;
    
    .recharts-cartesian-grid-vertical {
        display: none;
    }
}

.score-chart {
    background-color: $light-grey;
}

.sessions-chart {
    background-color: $red-sessions;
}

.performance-chart {
    background-color: $dark-grey;
}

.sessions-chart, .score-chart, .performance-chart {
    .recharts-cartesian-grid-vertical, .recharts-cartesian-grid-horizontal {
        display: none;
    }
}