.activity-chart {
    background-color: $light-grey;
    border-radius: 5px;
    width: 835px;
    height: 320px;
}

.recharts-cartesian-grid-vertical {
    display: none;
}

.recharts-legend-wrapper {
    
}

.recharts-default-legend {
    text-align: right;
}