.food-measures {
  display: flex;
  flex-direction: column;
  row-gap: 39px;
  width: 25%;

  .measure-block {
    background-color: $light-grey;
    box-shadow: $box-shadow-containers;
    height: 124px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    @media (min-width: 1440px) { 
      width: 258px;
    }

    img {
      width: 60px;
      height: 60px;
      margin: 15px;
      @media (min-width: 1440px) { 
        margin: 32px;
      }
    }

    .measure-data {
      .food-data {
        color: $dark-grey;
        font-size: 1.25em;
        font-weight: 700;
        margin: 0;
      }

      .food-title {
        color: $grey;
        font-size: 0.875em;
        font-weight: 400;
        margin: 0;
      }
    }
  }
}
