.secondary-nav {
    width: 117px;
    height: 1024px;
    background-color: $dark-grey;
    box-shadow:  $box-shadow;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;

        img {
            width: 64px;
            height: 64px;
        }
    }

    p {
        color: white;
        font-size: 0.75em;
        font-weight: 500;
        margin: 0;
        width: 150px;
        transform: rotate(-90deg);
    }
}